@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    pointer-events: none;
}

.btn {
    border: 2px solid #003D5D;
    border-radius: 2px;
    color: #003D5D;
    cursor: pointer;
    z-index: 0;
    position: relative;
    overflow: hidden;
    transition: .4s;
    padding: 5px 20px;
}
.btn:hover{
    background-color: #003D5D;
    color: #ffffff;
}

.container {
    width: 1170px;
    margin: auto;
}

section {
    width: 100%;
    overflow: hidden;
    padding: 50px 0;
}


.top-head{
    background-color: #003D5D;
}
.top-head .main{
    display: flex;
    align-items: center;
    padding: 6px 0;
}
.top-head .main .lt,
.top-head .main .rt{
    width: 50%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.top-head .main .rt{
    text-align: right;
}
header {
    width: 100%;
    padding: 12px 0;
    background: 0;
    position: absolute;
    z-index: 999;
}
header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #003D5D;
}
.bar{
    display: none;
}
header .logo {
    width: 182px;
    float: left;
}

header .logo a {
    float: left;
}

header nav {
    float: right;
}


header nav ul {
    padding-top: 10px;
    transition: 1s;
}

header nav ul li {
    display: inline-block;
    padding: 12px 20px;
    position: relative;
}
header nav ul li.active::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: .4s;
}

header nav ul li a {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
header nav ul li:last-child {
    background-color: #ffffff;
    border-radius: 20px;
}

header nav ul li:last-child a {
    color: #000000;
}
.banner{
    background: url(../image/rectangle-1.png) no-repeat;
    background-size: 100%;
    height: 675px;
    position: relative;
}
.banner .inner-text{    
    position: absolute;
    bottom: 100px;
    font-family: 'Prata', serif;
}
.banner .inner-text h1{
    font-size: 70px;
    color: #ffffff;
    font-weight: 400;
}
.banner .inner-text h1 span{
    display: block;
}
.banner .inner-text p{
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.banner .inner-text p span{
    display: block;
}
.list .main .head{
    max-width: 880px;
    margin: auto;
    text-align: center;
}
.list .main .head h2{
    font-size: 34px;
    text-transform: capitalize;
    font-family: 'Prata', serif;
    margin-bottom: 10px;
}
.list .main .head p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.list .main ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
}
.list .main ul li{
    width: 31.33%;
    margin: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.list .main ul li figcaption{
    padding: 20px;
    height: 160px;
}
.list .main ul li figcaption h3{
    color: #272727;
    font-family: 'Prata', serif;
    font-weight: 400;
}
.list .main ul li figcaption h2{
    color: #003D5D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 10px 0;
}
.list .main ul li figcaption .buttn{
    margin-top: 10px;
}
.list .main ul .veiw{
    margin-top: 15px;
}
.list .main ul .veiw .btn{
    padding: 5px 35px;
}
.harry{
    background: url(/image/Rectangle\ 101.png);
}
.harry .main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.harry .main .lt,
.harry .main .rt{
    width: 50%;
}
.harry .main .lt {
    padding-right: 20px;
}
.harry .main .lt figure{
    width: 341px;
}
.harry .main .lt .har-name h3{    
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 30px;
    padding: 10px 0;
}
.harry .main .lt .har-name p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 20px;
}
.harry .main .lt .mthar{
    margin-top: 25px;
}
.harry .main .lt .mthar .btn{
    font-size: 18px;
    padding: 5px 40px;
}
.harry .main .lt .copy{
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
}
.harry .main .lt .copy p{
    color: #ACACAC;
}
.form-s form {
    background-color: #003D5D;
    padding: 60px;
}

.form-s form .form-head {
    margin-bottom: 15px;
}

.form-s form h2 {
    font-weight: 400;
    font-family: 'Prata', serif;
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 20px;
}



.form-s form .inp {
    margin: 15px 0;
    position: relative;
}

.form-s form .inp label{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}


.form-s form .inp input{
    height: 40px;
}
.form-s form .inp input,
.form-s form .inp textarea {
    width: 100%;
    padding: 10px;
    background: 0;
    font-size: 18px;
    margin-top: 6px;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.form-s form .inp input:focus-visible,
.form-s form .inp textarea:focus-visible {
    outline: none;
}
.form-butn button{
    width: 200px;
    height: 40px;
    background: 0;
    color: #ffffff;
    font-size: 18px;
    border: 1px solid #ffffff;
    border-radius: 0;
}
.form-butn button:hover{
    background-color: #ffffff;
    color: #003D5D;
}

@media (max-width: 767px){
    .container{
        width: 90%;
    }
    .top-head .main .lt,
    .top-head .main .rt{
        font-size: 12px;
    }
    .banner{
        background-size: cover;
        height: 400px;
    }
    header .logo{
        width: 120px;
    }
    .bar{
        display: block;
        float: right;
        color: #ffffff;
        font-size: 22px;
        margin-top: 5px;
    }
    header.fixed nav{
        top: 68px;
    }
    header.fixed .bar{
        margin-top: 10px;
    }
    header nav ul li{
        margin-left: 10px;
    }
    header nav{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: #003d5d;
        width: 197px;
    }
    .banner .inner-text{
        bottom: 50px;
    }
    .banner .inner-text h1{
        font-size: 30px;
    }
    .banner .inner-text p{
        font-size: 14px;
    }
    .list .main ul li{
        width: 100%;
        margin-bottom: 10px;
    }
    .harry .main .lt, .harry .main .rt{
        width: 100%;
    }
    .form-s form{
        margin-top: 50px;
        padding: 20px;
    }
}
